h4 {
    margin: 0;
    padding: 0;
    height: 1.2em;
    font-size: 1.5em
  }

html body{
    height: 100%;
}

.dino-section{
    display:none
}
.container-flex{
    background-image: url("../images/theme.jpg");
    height: 100vh;
    background-repeat: repeat-x;
    background-position: top;
    position: relative;
    background-size: 100%;
}
.gameIsOverLose{
    position:absolute;
    font-size: 5em;
    top: 5em;
    color: red;
    text-shadow: 2em 2em 2em 2em grey;
    display: none;
    z-index: 1;

}
.gameIsOverWin{
    position:absolute;
    font-size: 5em;
    top: 5em;
    color: green;
    display:none;
    text-shadow: 2em 2em 2em 2em grey;
    z-index: 1;
}
.row{
    padding: 0em 2em;
}
.dino-box, .hunter-box{
box-shadow: 0px 1px 1px 1px darkslategrey;
display:block;
float: left;
width: 200px;
height: 200px;
margin: 0.5em 1em;
position: relative;
cursor:pointer;

}
.hunter-header, .dino-header{
    margin-top:1em;
    font-family: 'Rosario', sans-serif;
}
img.dino{
    padding-top: 2em;
    width: 200px;
    height: 150px;
}
img.hunter{
    padding-top: 2em;
    width: 200px;
    height: 200px;
}
.dino, .hunter{
    position: relative;
}

.dino-name, .hunter-name{
    position: absolute;
    width: 200px;
    top: 0;
    background-color:darkgrey;
    text-align: center;
    color:white;
    font-weight: bold;
}


.dino-life,  .hunter-life{
    position: absolute;
    bottom: 0;
    background-color:grey;
    width: 200px;
    text-align: center;
    color:white;
    font-weight: bold;

}


.header{
    text-align: center;
    margin-bottom: 2em;
    font-family: 'Sigmar One', cursive;
}
label {
    margin:1em 4em;
    padding: 0.5em 1em;
    background-color: darkgreen;
    font-weight: bold;
    border: 1px solid darkslategrey;
    display: none;
    width: 7em;
    text-align: center;
    color:white;
    cursor:pointer;
}
p{
    margin: 1.5em 1em;
    font-family: 'Sigmar One', cursive;
}