body{
    height: 100%;
}

.container-flex{
    background-image: url("../images/theme.jpg");
    height: 100%;
}
.row{
    padding: 0em 2em;
}
.dino-box, .hunter-box{
box-shadow: 0px 1px 1px 1px darkslategrey;
display:block;
float: left;
width: 200px;
height: 200px;
margin: 0.5em 1em;
position: relative;

}

img.dino{
    padding-top: 2em;
    width: 200px;
    height: 150px;
}
img.hunter{
    padding-top: 2em;
    width: 200px;
    height: 200px;
}
.dino, .hunter{
    position: relative;
}

.dino-name, .hunter-name{
    position: absolute;
    width: 200px;
    top: 0;
    background-color:grey;
    text-align: center;
    color:white;
    font-weight: bold;
}


.dino-life,  .hunter-life{
    position: absolute;
    bottom: 0;
    background-color:grey;
    width: 200px;
    text-align: center;
    color:white;
    font-weight: bold;

}


.header{
    text-align: center;
}
label {
    margin-left:4em;
    padding: 0.5em 1em;
    background-color: darkgoldenrod;
    font-weight: bold;
    border: 1px solid darkslategrey;
}